name: Build (Windows)
on:
  push:
  pull_request:
jobs:
  build-project:
    name: Build Project
    runs-on: windows-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.2.2

      - name: Build Project
        uses: threeal/cmake-action@v2.1.0
        with:
          options: |
            CMAKE_BUILD_TYPE=Release
          build-args: |
            --config Release

      - name: Deploy Project
        uses: actions/upload-artifact@v4
        with:
          name: run-cppcheck-windows
          path: build\Release\run-cppcheck.exe
